.donation_box {
    font-weight: 600;
    background-color: var(--light-primary);
    border: 0.15rem solid var(--dark-primary);
    border-radius: var(--card-border-radius);
    box-shadow: -0.45rem 0.45rem 0 0 var(--dark-primary);
    padding: 1.5rem 1.8rem;
    width: clamp(21rem, 23rem, 25rem);
}

.donation_box_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1.5rem;
}

.donation_box_header h4 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 1rem;
}

.donation_box_image {
    max-width: 4rem;
    border-radius: 100rem;
}

.donation_box_choose_donation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.donation_coffee_emoji {
    font-size: 2rem;
}

.donation_radio:last-child {
    text-align: center;
    height: 3rem;
    width: 3rem;
    border: 0.15rem solid var(--dark-primary);
    border-radius: 2rem;
    box-shadow: -0.1rem 0.1rem 0 0 var(--dark-primary);
    appearance: inherit;
}

.donation_holder {
    display: table;
}

.donation_holder label {
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
    border: 0.15rem solid var(--dark-primary);
    border-radius: 2rem;
    box-shadow: -0.1rem 0.1rem 0 0 var(--dark-primary);
}

.donation_active {
    background-color: var(--dark-primary);
    color: var(--light-primary);
}

.donation_holder input:not([value=""]) {
    background-color: var(--dark-primary);
    color: var(--light-primary);
}

.donation_radio:last-child:focus {
    background-color: var(--dark-primary);
    color: var(--light-primary);
}

.donation_box_message {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.donation_field {
    background-color: var(--light-primary);
    border: 0.15rem solid var(--dark-primary);
    border-radius: 0.5rem;
    box-shadow: -0.15rem 0.15rem 0 0 var(--dark-primary);
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
}