.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    padding: 3rem;
}

.footer_icon {
    color: var(--dark-primary);
    display: inline-block;
    margin: 0 auto;
    align-self: center;
    justify-self: end;
}

.footer .logo {
    height: 2rem;
}

@media (max-width: 50em) {
    .footer {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .footer .logo {
        display: block;
        margin: auto;
    }
}