.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem;
    flex-wrap: wrap;
}

.menu_item {
    margin-right: 3rem;
    font-weight: 600;
    color: var(--dark-secondary);
    border-bottom: solid 3px transparent;
}

.menu_item:hover {
    color: var(--dark-primary);
    border-bottom: solid 3px var(--dark-primary);
    transition: all ease-in-out 0.3s;
}

@media (max-width: 50em) {
    .menu {
        margin: 1rem;
        justify-content: space-between;
        row-gap: 1rem;
    }
    .menu_item {
        display: none;
    }
}