@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');

/* NORMALIZING */
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

* {
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* VARIABLES */
:root {
    --dark-primary: #262626;
    --dark-secondary: #333333;
    --placeholder-color: #b1b1b1;

    --light-primary: #fafafa;
    --light-secondary: #edede8;

    --card-border-radius: 1.5rem;
    --input-border-radius: 0.5rem;
    --button-border-radius: 0.5rem;

    --font-size-forms: 1.15rem;
}

/* GENERAL STYLING */
html {
    height: 100%;
}

body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--light-primary);
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    margin: 0;
}

h1 {
    font-size: 4.375rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
}

.tezos_sign {
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
}

/* GENERAL INPUT STYLING */
.input-box {
    font-weight: 600;
    font-size: var(--font-size-forms);
    display: inline-block;
    border: 0.15rem solid var(--dark-primary);
    border-radius: var(--input-border-radius);
    padding: 1.2em 1.8rem;
    box-shadow: -0.3rem 0.3rem 0 0 var(--dark-primary);
    background-color: var(--light-primary);
    text-align: left;
}

input {
    border: none;
    background-color: var(--light-primary);
}

input:focus,
*:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* Edge */
    color: var(--placeholder-color);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--placeholder-color);
}

::placeholder {
    color: var(--placeholder-color);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: var(--dark-primary);
    color: var(--light-primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.input-tip {
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 400;
}

.input-valid {
    color: #59864b;
}

.input-invalid {
    color: #be574b;
}

textarea {
    resize: none;
    width: 100%;
    background-color: var(--light-primary);
    border: none;
}

/* SPECIFIC STYLES */
section {
    padding: 5rem 0;
}

.full-width {
    background-color: var(--light-secondary);
}

.container {
    --max-width: 60rem;
    --horisontal-padding: 2rem;

    width: min(var(--max-width), 100% - (var(--horisontal-padding)));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.flow > * + * {
    margin-top: 1.5rem;
}

.centered {
    text-align: center;
}

.centered p {
    text-align: center;
}

.sub-heading {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 40ch;
    margin: 1rem auto;
}

/* HERO SECTION */
.claim-username-form {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: start;
    justify-content: center;
    width: min(50rem, 100% - (var(--horisontal-padding) * 2));
    margin-inline: auto;
}

.under-cta-text {
    font-size: 0.8rem;
    margin-top: 1rem;
}

/* CARDS SECTION */
.section-cards {
    display: grid;
    gap: 2rem;
}

.card {
    padding: 3rem;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    background-color: #fff;
}

.section-cards .card:first-child {
    grid-row: span 2;
}

.section-cards .card:last-child {
    grid-column-start: 2;
}

.example-donation {
    font-weight: 600;
    background-color: var(--light-primary);
    border: 0.15rem solid var(--dark-primary);
    border-radius: 0.5rem;
    box-shadow: -0.3rem 0.3rem 0 0 var(--dark-primary);
    padding: 0 1.8rem;
    margin-top: 1rem;
}

.example-donation:nth-child(4) {
    opacity: 0.7;
}

.example-donation:last-child {
    opacity: 0.4;
}

.example-bold {
    font-weight: 600;
}

/* CREATE ACCOUNT PAGE */
.create-account form {
    display: grid;
    width: 60%;
    margin: 0 auto;
    gap: 2rem;
    text-align: left;
}

.create-account form input {
    width: 100%;
}

/* USER PAGE */
.user-info {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 3rem;
}

.user-picture {
    flex-grow: 1;
    border-radius: 50rem;
    max-width: 12.5rem;
    max-height: 12.5rem;
    aspect-ratio: 1/1;
    float: right;
}

.user-description {
    flex-grow: 2;
}

.user-donate-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 0;
}

@media (max-width: 50em) {
    h1 {
        font-size: 3rem;
    }
    .sub-heading {
        font-size: 1.3rem;
    }
    .claim-username-form {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .input-box span {
        display: none;
    }
    .user-info {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0;
    }
    .user-description {
        margin: 0;
    }
    .user-info img {
        max-width: 150px;
        display: block;
        margin: 0 auto;
        width: 50%;
        float: none;
    }

    section {
        padding: 2rem 0;
    }
    .create-account form {
        width: min(30rem, 100%)
    }
    .even-columns {
        gap: 0;
    }

    .section-cards .card:first-child {
        grid-row: span 1;
    }

    .section-cards .card:last-child {
        grid-column-start: 1;
    }
}

@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
